@model todo.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Student Details</h2>


    <h2>

            @if (ViewBag.Image == "True")
            {
        <img src="@Html.DisplayFor(model => model.Photo_Path)" style="width:130px;height:130px; background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
            }
        @Html.DisplayFor(model => model.First_Name)  @Html.DisplayFor(model => model.Last_Name)
    </h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Home_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Home_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo_Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo_Path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
