@model IEnumerable<todo.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>List of Students</h2>
@using (Html.BeginForm("Index", "Item", FormMethod.Get))
{
    <p>
        @Html.ActionLink("Add Student", "Create", null, new { @class = "btn btn-default" })
    </p>

    <p style="text-align:left;">

        <b> Search Option:</b> @Html.RadioButton("option", "FirstName", new { @checked = "checked" }) <text>  First Name  </text> @Html.RadioButton("option", "LastName") <text>  Last Name  </text>
        @Html.RadioButton("option", "StudentNum")<text>  Student Number  </text> @Html.TextBox("search")
        <input type="submit" value="Search" class="btn btn-default" />  <span style="float:right;"> @Html.RadioButton("Status", "Active", new { @checked = "checked" }) <text>  Active  </text>@Html.RadioButton("Status", "InActive") <text>  Not Active  </text> @Html.RadioButton("Status", "All") <text>  All Students  </text></span>
    </p>


}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id, student_no = item.Student_Number }) |
                @Html.ActionLink("Email", "EmailTheStudent", new { id = item.Id, student_no = item.Student_Number }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id, student_no = item.Student_Number }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id, student_no = item.Student_Number })
            </td>
        </tr>
    }

</table>
